<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
</head>
<body>
    <h1>Exam Questions</h1>
    <form method="post" action="{% url 'save_answer' %}">
        {% csrf_token %}
        {% for question in questions %}
        <div>
            <p>{{ question.question }}</p>
            <ul>
                {% for option in question.options %}
                <li>
                    <input type="radio" name="question_{{ question.question_id }}" value="{{ option }}">
                    <label>{{ option }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>
</body>
</html>
